Lab1CSharp/Lab1CSharp/obj/Debug/
Lab1AdditionalTask/Lab1AdditionalTaskCSharp/obj/Debug/
Lab2Csharp/Lab2Csharp/obj/Debug/
Lab2Csharp/UnitTestProject1/obj/Debug/
Lab3Csharp/Lab3Csharp/obj/
Lab3Java/out/
Lab4Csharp/Lab4Csharp/obj/
Lab4Csharp/Lab4Task2/obj/

*.sln
*.vs
*.config
*.exe
*.cache
*.csproj
*.dll
AssemblyInfo.*
MSTest.*
*.pdb
*.user

*.idea
*.xml
*.class
*.html
*.iml
*.kotlin_module

*.txt
*.pdf
*.doc
*.rar